body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

p {
  line-height: 1.7;
  margin-bottom: 12px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(204, 6, 128);
}

h1, h2, h3 {
  margin-bottom: 15px;
}


.center {
    text-align: center;
}

h1 {
    color: rgb(204, 6, 128);
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin: 2px;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: rgb(204, 6, 128);
}

.contato-form input {
    width: 100%;
    padding: 8px 0px;
    margin: 8px 0px;
}

.contato-form input[type=text] {
    height: 100px;
}

button {
    background-color: white;
    border: none;
    width: 100px;
    height: 30px;
}

.projeto h3 {
    color: rgb(204, 6, 128);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    justify-content: space-between;
    list-style-type: none;
    width: 100%; 
    padding: 8px 0px;
    line-height: 1.7;
  margin-bottom: 12px;
}

footer {
    text-align: center;
    color: white;
    padding: 15px 0;
    font-size: 0.7rem;
    margin-top: 200px;
}




